<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="user01"><a href="/">RECEIPTAP</a></div>
        <div class="user02">
          <% if user_signed_in? %>
            <%= current_user.name %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>



<body class="body2">
<div class="main-text">領収書一覧</div>

      <div class="receipt-name2">
      <%=link_to '領収書を保存', new_receipt_path, class: :save_btn %>
      <br>
      </div>
      <br>

          <%# 領収書一覧 %>
    <% @receipts.each do |receipt| %>
      <ul class="container">
        <li class="receipt">
        <div class="receipt-date">
        領収日
        <%= receipt.date %>
        </div>
          <div>
            <%=link_to image_tag(receipt.image), edit_receipt_path(receipt.id) %>
          </div>
          <div class="receipt-category">
            <%= receipt.category.name %>
          </div>
          領収内容
          <div class="receipt-text">
            <%= receipt.comment %>
          </div>
          <%= link_to " 削除する ", receipt_path(receipt.id), method: :delete, class: :dele_btn %>
        </li>
      </ul>
    <% end %>
</body>

