<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="user01"><a href="/">RECEIPTAP</a></div>
        <div class="user02">
          <% if user_signed_in? %>
            <%= current_user.name %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>



<body class="body2">
<div class="main-text">領収書一覧</div>
    <% if @receipts [0] == nil %>
      
      <div class="receipt-name2">
      <%=link_to '領収書を保存してください。', new_receipt_path %>
      </div>

    <% end %>
  <ul class="container">
  
<%# <% @peceipt.each do |receipt| %> %>
  <li class="article">
    <div class="receipt-category">
      <%# <%= receipts.category %> %>
    </div>
    <div class="article-title">
      <%# <%= receipts.image %> %>
    </div>
    <div class="article-text">
      <%# <%= receipts.comment %> %>
    </div>
  </li>
<%# <% end %> %>
  </ul>
</body>

